.overlay {
  position: fixed;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  pointer-events: none;
  z-index: 10;
}

.overlay__social {
  position: fixed;
  right: 4rem;
  bottom: 0;
  width: 1px;
  height: 8rem;
  background-color: #565656;
}

.overlay__email {
  position: fixed;
  left: 4rem;
  bottom: 0;
  width: 1px;
  height: 8rem;
  background-color: #565656;
}

.overlay__email p {
  position: absolute;
  bottom: 8rem;
  left: -2rem;
  color: #999999;
  transform: rotate(-90deg);
  transform-origin: left;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  pointer-events: auto;
}

.overlay__email a {
  color: #999999;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.overlay__email p:hover a {
  color: #a86fcb;
  padding-left: 0.5rem;
}

/* Media Queries */
@media (max-width: 1079px) {
  .overlay {
    display: none;
  }
}

@media (min-width: 1080px) and (max-width: 1399px) {
  .overlay__email,
  .overlay__social {
    width: 1px;
  }
  .overlay__email {
    left: 2rem;
  }
  
  .overlay__social {
    right: 2rem;
  }
}

@media (min-width: 1400px) {
  .overlay__email {
    left: 4rem;
  }
  
  .overlay__social {
    right: 4rem;
  }
}