.user-card {
  width: 100%;
    margin: 0;
  background-color: transparent;
  color: #999999;
  border: 1px solid #999999;
  border-radius: 20px;
    padding: 2rem;
  display: flex;
  flex-direction: column;
    max-height: fit-content;
}

.user-card a {
  text-decoration: none;
  font-weight: 500;
}

.user-card a:hover {
  color: #a86fcb;
}
.user-card__header {
  display: flex;
  justify-content: space-between;
    margin-bottom: 2rem;
}
.user-card__header__name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;
    color: #FFF;
}
.user-card__header__title {
    text-align: right;
    line-height: 1.2rem;
  color: #a86fcb;
}

.user-card__image {
    height: 18rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.user-card__image__photo {
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.user-card__image__photo:hover {
    filter: grayscale(0);
}

.user-card__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.user-card__footer__email {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

.user-card__footer__email:hover {
    color: #a86fcb;
}

.user-card__footer__based {
    font-size: 1rem;
    color: #fff;
    margin: 0;
}

.user-card__footer__links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1.5rem 0;
}

.user-card__footer__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    border: 1px solid #565656;
    border-radius: 50%;
    color: #999999;
    background-color: #1f1f1f;
    transition: all 0.2s ease-in-out;
}

.user-card__footer__link:hover {
    color: #a86fcb;
    border-color: #a86fcb;
    transform: translateY(-2px);
}

.user-card__footer__copyright {
    color: #565656;
    font-size: 0.9rem;
    margin-top: 1rem;
    text-align: center;
}

@media (min-width: 1080px) {
    .user-card {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 4rem;
        width: 26rem;
        max-width: 26rem;
    }
}